@use "sass:math";

// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 980px;
// ※キュンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 60px;
$padding-sp: 30px;

////////////////////
// フォント設定
////////////////////

$base-font-family:"Zen Old Mincho", serif;
$second-font-family: "EB Garamond", serif;
// ※検証ツールでしっかり反映されているか確認する

body {
  font-family: $base-font-family;
}

// フォントウェイト
$regular: 300;
$normal: 400;
$sembold:600;
$bold: 700;

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$black: #000;
$white: #fff;
$gold: #A7845A;