@use "global" as *;

.mainvisual {
    position: relative;
    width: 100%;
    height: rem(550); // 例：全画面の高さ
    background-image: url(/assets/images/common/SP_FV.jpg) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; // ★これがノーリピートの指定！
    @include mq(md) {
        height: rem(500); // 例：全画面の高さ
        // height: 100vh;
        background-image: url(/assets/images/common/PC_FV.jpg);
        background-position: top;
        }
        @media (min-width: 1500px) {
            height: 100vh;
        }

} 

.mainvisual__title {
    font-size: rem(30);
    font-family: $base-font-family;
    color: $white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: rem(30);
    width: 100%;
    text-align: center;
    padding: 18px 0;
    font-style: italic;
    @include mq(md) {
        letter-spacing: rem(8);
        }
}

.mainvisual__title::before {
    content: "";
    position: absolute;
    inset: 0; // 親要素にぴったり重ねる
    background-color: rgba(167, 132, 90, 0.8); // ブラウン系で80%不透明
    mix-blend-mode: multiply; // ← 背景画像との乗算効果を適用
    z-index: -1; // テキストの背後に配置
    pointer-events: none; // 背景はクリックの邪魔をしない
}


.mainvisual__inner {
}

.mainvisual__title-1 {
    font-size: rem(40);
    @include mq(md) {
        font-size: rem(50);
        }
}

.mainvisual__title-2 {
    font-size: rem(30);
}

.mainvisual__img {
    position: relative
}

